html {
    background-color: #0b8043;
    color: #fff;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

h1 {
    color: #fff;
    text-align: center;
}

main {
    margin: 0 auto;
    padding: 20px;
    max-width: 1024px;
}

.social-buttons {
    float: right;
}

.schema {
    width: 550px;
    height: ;
}

.schema-notes {
    float: right;
    width: 45%;
    line-height: 36px;
    font-size: 26px;
}

.schema-notes>div {
    margin-bottom: 20px;
}

.logo {
    background: url('/img/logo.png') 0 0 no-repeat;
    background-size: contain;
    width: 127px;
    height: 110px;
}

.team {
    text-align: right;
}

.team .team-member {
    display: inline-block;
    margin-left: 30px;
}

.team .sign {
    margin: 20px 0;
}

.team .avatar {
    display: inline;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.donation-form {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.donation-input-wrapper {
    position: relative;
    padding: 15px 0 0 0;
}

.donation-label {
    display: block;
    padding: 0 0 3px 0;
    color: #eee;
    font-size: 20px;
}

.donation-label.asterisk:after {
    content: ' *';
    color: #ee1111;
    font-size: 24px;
    line-height: 0;
}

.donation-currency {
    position: absolute;
    right: 10px;
    bottom: 6px;
    color: #333;
}

.donation-input {
    display: block;
    padding: 4px 12px;
    color: #222;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    border: 1px solid #999;
    transition: border-color 0.4s;
    -webkit-transition: border-color 0.4s;
    -moz-transition: border-color 0.4s;
    -o-transition: border-color 0.4s;
}

.donation-input:focus {
    border-color: #666;
}

.donation-input:focus,
.donation-submit:focus {
    outline: none;
}

.donation-submit {
    background-color: #ffee00;
    color: #666;
    font-size: 22px;
    border: 1px solid #aaa;
    width: 200px;
    line-height: 40px;
    margin-top: 10px;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
}

.donation-submit:hover {
    background-color: #eedd00;
}
