@font-face {
    font-family: Helvetica;
    src: url('/fonts/helvetica.eot') format('embedded-opentype'),
         url('/fonts/helvetica.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('/fonts/SegoeUIRegular.eot') format('embedded-opentype'),
         url('/fonts/SegoeUIRegular.woff') format('woff'),
         url('/fonts/SegoeUIRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src: url('/fonts/SegoeUILight.eot') format('embedded-opentype'),
         url('/fonts/SegoeUILight.woff') format('woff'),
         url('/fonts/SegoeUILight.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: SegoeUI;
    src: url('/fonts/SegoeUIBold.eot') format('embedded-opentype'),
         url('/fonts/SegoeUIBold.woff') format('woff'),
         url('/fonts/SegoeUIBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

html {
    background-color: #0b8043;
    color: #fff;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'SegoeUI', 'Helvetica', sans-serif;
}

body {
    /*position: relative;*/
}

section {
    overflow: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

h1 {
    color: #fff;
    font-size: 74px;
    text-align: right;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 10px 0 45px;
    z-index: 1;
    position: relative;
}

.section-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 120px;
}

.section-container.donation-box {
    margin-top: 140px;
}

section.head {
    padding: 10px 0;
}

section.head .section-container {
    margin-top: 0;
}

section.hero {
    background-color: #08502b;
    padding: 20px 0 60px;
}

section.hero .section-container {
    overflow: hidden;
    position: relative;
    margin-top: 50px;
}

section.footer {
    background: #fff;
}

section.footer .section-container {
    margin: 30px auto 50px;
}

#runner {
    position: absolute;
    background: url('../img/runner.png') 0 0 no-repeat;
    background-size: contain;
    width: 124px;
    height: 193px;
    top: 60px;
    left: 20px;
}

.social-buttons {
    float: right;
    margin-top: 13px;
}

.fb-like-wrapper {
    float: right;
}

.logo {
    background: url('../img/logo.png') 0 0 no-repeat;
    background-size: contain;
    width: 60px;
    height: 53px;
    float: left;
}

.description {
    text-align: right;
    font-size: 26px;
    max-width: 555px;
    float: right;
    z-index: 1;
    position: relative;
    background: #08502b;
}

.schema {
    background: url('../img/schema.jpg') 0 0 no-repeat;
    background-size: contain;
    width: 510px;
    height: 366px;
    float: left;
    position: relative;
    cursor: zoom-in;
}

.schema:after {
    content: '';
    background: url('../img/izoomin.svg') 0 0 no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-size: contain;
}

.schema-notes {
    float: right;
    width: 43%;
    margin-top: 50px;
    line-height: 36px;
    font-size: 24px;
}


.schema-notes>div,
.stand-notes>div,
.video-notes>div {
    margin-bottom: 15px;
    padding-left: 25px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.schema-notes>div:before,
.stand-notes>div:before,
.video-notes>div:before {
    content: '+';
    margin: 0 10px 0 -25px;
}

.stand-notes {
    float: left;
    font-size: 24px;
    width: 50%;
    margin-top: 50px;
}

.info-cta {
    text-align: center;
    margin-bottom: 30px;
}

.brochure-link,
.sketches-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 100px 150px 15px 0;
    border: 3px solid #fff;
    padding: 10px;
    position: relative;
    width: 150px;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
}

.brochure-link:before {
    background: url('../img/ibook.svg') 0 0 no-repeat;
    top: -105px;
}

.sketches-link:before {
    background: url('../img/isketch.svg') 0 0 no-repeat;
}

.brochure-link:before,
.sketches-link:before {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background-size: contain;
    position: absolute;
    top: -100px;
    left: calc(50% - 40px);
}

.brochure-link {
    margin-right: 0;
}

.brochure-link:hover,
.sketches-link:hover {
    border-color: #ddf4e8;
    background: #ddf4e8;
    color: #0b8043;
}

.brochure-link:hover:before {
    background: url('../img/ibook-hover.svg') 0 0 no-repeat;
    background-size: contain;
}

.sketches-link:hover:before {
    background: url('../img/isketch-hover.svg') 0 0 no-repeat;
    background-size: contain;
}

.video-notes {
    float: right;
    width: 55%;
    font-size: 24px;
}

.donators-info {
    text-align: center;
    font-size: 36px;
    margin: 30px 0;
}

.budget-link {
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0 auto 40px;
    font-size: 30px;
    cursor: pointer;
    width: 440px;
    height: 84px;
    line-height: 80px;
    border: 3px solid #fff;
    z-index: 1;
    background: #0b8043;
    position: relative;
    letter-spacing: 1px;
    transition: background 0.1s;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.budget-link:after {
    content: '';
    display: inline-block;
    width: 55px;
    height: 55px;
    background: url('../img/ibudget.svg') 0 0 no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin: 0 0 3px 25px;
}

.budget-link:hover {
    background: #ddf4e8;
    color: #0b8043;
    border-color: #ddf4e8;
}

.budget-link:hover:after {
    background: url('../img/ibudget-hover.svg') 0 0 no-repeat;
    background-size: contain;
}

.donators-info b {
    color: #ffee00;
    letter-spacing: 1px;
}

.form-notes {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.team {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.team .team-member {
    display: inline-block;
    margin-left: 30px;
    color: #333;
}

.team .team-member:first-of-type {
    margin-left: 0;
}

.team .team-member .role {
    font-style: italic;
    color: #666;
    font-weight: 300;
}

.sign {
    margin: 20px 0;
    color: #08502b;
    font-size: 26px;
    text-align: center;
}

.team .avatar {
    display: inline;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: 10px 0;
}

#donationFormFeedback {
    height: 0;
    opacity: 0;
    text-align: center;
    font-size: 28px;
    width: 580px;
    margin: 0;
    transition: opacity 0.7s;
    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    -o-transition: opacity 0.7s;
}

#donationFormFeedback b {
    color: #ffee00;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 400;
}

#donationFormFeedback.show {
    height: auto;
    margin: 100px auto;
    opacity: 1;
}

.donation-form {
    display: block;
    width: 600px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.donation-input-wrapper {
    position: relative;
    padding: 15px 0 0 0;
}

.asterisk {
    position: absolute;
    right: 10px;
    bottom: 27px;
}

.asterisk:after {
    content: ' *';
    color: #ee1111;
    font-size: 28px;
    line-height: 0;
}

.donation-currency {
    position: absolute;
    right: 15px;
    bottom: 19px;
    color: #333;
}

.donation-input {
    display: block;
    padding: 4px 30px;
    color: #222;
    width: 100%;
    font-size: 20px;
    line-height: 65px;
    height: 65px;
    border: 1px solid #fff;
    transition: border-color 0.4s;
    -webkit-transition: border-color 0.4s;
    -moz-transition: border-color 0.4s;
    -o-transition: border-color 0.4s;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.donation-input:focus {
    border-color: #e0d73c;
}

.donation-input:focus,
.donation-submit:focus {
    outline: none;
}

.donation-submit, .button {
    background: #dfb828;
    color: #fff;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-decoration: none;
    border: none;
    width: 100%;
    line-height: 60px;
    height: 65px;
    margin-bottom: 30px;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

::-webkit-input-placeholder {
    color:    #0b8043;
    opacity:  0.6;
    font-weight: 300;
}
:-moz-placeholder {
    color:    #0b8043;
    opacity:  0.6;
    font-weight: 300;
}
::-moz-placeholder {
    color:    #0b8043;
    opacity:  0.6;
    font-weight: 300;
}
:-ms-input-placeholder {
    color:    #0b8043;
    opacity:  0.6;
    font-weight: 300;
}

.button.small {
    float: right;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    height: 28px;
    width: 130px;
    padding: 0;
    margin: 0 0 0 3px;
    text-align: center;
    background: #de9228;
    background: -webkit-linear-gradient(#de9228, #b5741b);
    background: -o-linear-gradient(#de9228, #b5741b);
    background: -moz-linear-gradient(#de9228, #b5741b);
    background: linear-gradient(#de9228, #b5741b);
}

.donation-submit:hover,
.button:hover {
    background-color: #dfa528;
}

.path-svg-container,
.path-svg-container-initial {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

.path-svg-container-initial {
    display: none;
}

.path-svg,
.path-svg-initial {
    position: absolute;
    top: 180px;
    left: 0;
    height: 2100px;
    width: 1024px;
}

.path-svg-initial {
    height: 500px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .logo {
        background-image: url('../img/logo@2x.png');
    }

    #runner {
        background-image: url('../img/runner@2x.png');
    }
}

@media only screen and (max-width: 980px) {
    .path-svg-container {
        display: none;
    }

    .path-svg-container-initial {
        display: block;
    }

    .section-container {
        margin-top: 80px;
    }
}
