@font-face {
    font-family: Helvetica;
    src: url('/fonts/helvetica.eot') format('embedded-opentype'),
         url('/fonts/helvetica.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('/fonts/segoeui.eot') format('embedded-opentype'),
         url('/fonts/segoeui.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('/fonts/segoeuib.eot') format('embedded-opentype'),
         url('/fonts/segoeuib.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

html {
    background-color: #0b8043;
    color: #fff;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'SegoeUI', 'Helvetica', sans-serif;
}

body {
    position: relative;
}

section {
    overflow: hidden;
    margin-top: 50px;
}

section:first-child {
    margin-top: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

h1 {
    color: #fff;
    font-size: 74px;
    text-align: right;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 10px 0;
}

#path {
    position: absolute;
    top: 230px;
    left: 330px;
    background: url('../img/animation-path.png') 0 0 no-repeat;
    background-size: contain;
    width: 630px;
    height: 31px;
}

main {
    margin: 0 auto;
    background: url('../img/runner.png') 90px 143px no-repeat;
    padding: 20px 20px 80px;
    max-width: 1024px;
}

.social-buttons {
    float: right;
}

.logo {
    background: url('../img/logo.png') 0 0 no-repeat;
    background-size: contain;
    width: 60px;
    height: 52px;
    float: left;
}

.description {
    text-align: right;
    font-size: 26px;
    max-width: 555px;
    float: right;
}

.schema {
    background: url('../img/schema.jpg') 0 0 no-repeat;
    background-size: contain;
    width: 510px;
    height: 366px;
    float: left;
    position: relative;
    cursor: zoom-in;
}

.schema:after {
    content: '';
    background: url('../img/izoomin.svg') 0 0 no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-size: contain;
}

.schema-notes {
    float: right;
    width: 43%;
    margin-top: 50px;
    line-height: 36px;
    font-size: 24px;
}


.schema-notes>div,
.stand-notes>div,
.video-notes>div {
    margin-bottom: 20px;
    padding-left: 25px;
}

.schema-notes>div:before,
.stand-notes>div:before,
.video-notes>div:before {
    content: '●';
    margin: 0 10px 0 -25px;
}

.stand-notes {
    float: left;
    font-size: 24px;
    width: 50%;
    margin-top: 50px;
}

.sketche-link {
    text-align: right;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
}

.video-notes {
    float: right;
    width: 55%;
    font-size: 24px;
}

.donators-info {
    text-align: center;
    font-size: 36px;
    margin: 30px 0;
}

.budget-link {
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0 auto 40px;
    font-size: 30px;
    opacity: 0.9;
    cursor: pointer;
}

.budget-link:after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../img/iinfo.svg') 0 0 no-repeat;
    background-size: contain;
    vertical-align: bottom;
    margin-left: 25px;
}

.budget-link:hover {
    opacity: 1;
}

.donators-info b,
.budget-link b {
    color: #ffee00;
}

.team {
    text-align: right;
    margin-bottom: 100px;
}

.team .team-member {
    display: inline-block;
    margin-left: 30px;
}

.team .sign {
    margin: 20px 0;
}

.team .avatar {
    display: inline;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#donationFormFeedback {
    height: 0;
    opacity: 0;
    text-align: center;
    font-size: 28px;
    width: 580px;
    margin: 100px auto;
    transition: opacity 0.7s;
    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    -o-transition: opacity 0.7s;
}

#donationFormFeedback b {
    color: #ffee00;
    display: inline-block;
    margin-bottom: 20px;
}

#donationFormFeedback.show {
    height: auto;
    opacity: 1;
}

.donation-form {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.donation-input-wrapper {
    position: relative;
    padding: 15px 0 0 0;
}

.donation-label {
    display: block;
    padding: 0 0 3px 0;
    color: #eee;
    font-size: 20px;
}

.donation-label.asterisk:after {
    content: ' *';
    color: #ee1111;
    font-size: 24px;
    line-height: 0;
}

.donation-currency {
    position: absolute;
    right: 10px;
    bottom: 6px;
    color: #333;
}

.donation-input {
    display: block;
    padding: 4px 12px;
    color: #222;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    border: 1px solid #999;
    transition: border-color 0.4s;
    -webkit-transition: border-color 0.4s;
    -moz-transition: border-color 0.4s;
    -o-transition: border-color 0.4s;
}

.donation-input:focus {
    border-color: #666;
}

.donation-input:focus,
.donation-submit:focus {
    outline: none;
}

.donation-submit, .button {
    background-color: #ffee00;
    color: #666;
    font-size: 22px;
    text-decoration: none;
    border: 1px solid #aaa;
    width: 200px;
    line-height: 40px;
    margin-top: 10px;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
}

.button.small {
    float: right;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    height: 28px;
    width: 122px;
    padding: 0;
    margin: 0 0 0 3px;
    text-align: center;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.donation-submit:hover,
.button:hover {
    background-color: #eedd00;
}
