.slider {
    width: 400px;
    position: relative;
    margin-right: 45px;
    float: right;
}

.slider-prev {
    background: url('../img/prev.svg') 0 0 no-repeat;
    left: -50px;
    top: calc(50% - 25px);

}

.slider-next {
    background: url('../img/next.svg') 0 0 no-repeat;
    right: -55px;
    top: calc(50% - 25px);
}

.slider-prev,
.slider-next {
    position: absolute;
    background-size: contain;
    width: 50px;
    height: 45px;
    cursor: pointer;
}

.slides {
    overflow: hidden;
}

.slide-window {
    width: 1800%;
    transition: margin-left 0.2s;
    -webkit-transition: margin-left 0.2s;
    -moz-transition: margin-left 0.2s;
    -o-transition: margin-left 0.2s;
}

.slide {
    float: left;
    width: 400px;
}

@media only screen and (max-width: 445px) {
    .slide {
        width: 240px;
    }

    .slider {
        width: 240px;
        float: none;
        margin: 30px auto 0;
    }
}


@media only screen and (min-width: 446px) and (max-width: 667px) {
    .slide {
        width: 300px;
    }

    .slider {
        width: 300px;
        float: none;
        margin: 30px auto 0;
    }
}

@media only screen and (min-width: 446px) and (max-width: 800px) {
     .slide {
        width: 300px;
    }

    .slider {
        width: 300px;
    }
}
